<div class="ms-5">
    <h3 style="color:@Color">Component2 color IsFixed!</h3>
    <p>
        Count: @CounterValue2
    </p>
    <br/>
    <button class="btn btn-primary" @onclick="IncrementCount2">Click me 2</button>
</div>


@code {
    [CascadingParameter(Name ="Counter")]
    public int CounterValue2 { get; set; }

    [CascadingParameter(Name ="TitleColor")]
    public string? Color { get; set; }

    private void IncrementCount2()
    {
        CounterValue2++;
    }
}
